<div>
    <form name="userData" action="#" ng-controller="UserController" ng-submit="saveUser()">

        User name:    <input type="text" ng-model="user.name">    <br/><br/>
        First name:    <input type="text" ng-model="user.firstname">    <br/><br/>
        Last name:    <input type="text" ng-model="user.lastname">    <br/><br/>
        Email Address: <input type="text" ng-model="user.email"> <br/><br/>
        Password: <input type="password" ng-model="user.password"> <br/><br/>
        <input type="submit" ngClick="Submit">

    </form>
</div>
